.country {
    border: 0.4px solid rgb(210, 198, 198); 
    width: 200px; 
    //text-align: center;
    border-radius: 10px;
    padding: 10px 0 10px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__line {
        border-bottom: 0.3px solid rgb(121, 119, 119); 
        width: 60%; 
        margin: 10px 0 10px 0; 
    }
}

.country:hover {
    //background-color: rgb(217, 201, 201); //Connie
    background-color: #cce1f6; //baby blue
    //color: rgb(113, 118, 120); 
    color: white; 
    //transform: scale(1.1);
    border: 1px solid lightgray;

    // &__name:hover {
    //     color: white; 
    // }
}