.filters {
    display: flex;
    align-self: center;
    //justify-content: center;
    margin: 30px 0 30px 0; 
    padding: 10px; 
    color: rgb(123, 132, 134); 
    background-color: white;
    border: 1px solid rgb(137, 144, 137); 
    border-radius: 10px;
    //box-shadow: 0.5px 0.8px 0.5px rgb(211, 211, 211/ 0.2);

    &__title {
        margin: 0 40px 0 10px; 
    }

    &__country--input {
        margin: 0 30px 0 10px; 
        padding: 5px 0 5px 5px; 
        border-radius: 4px;
        border: 1px solid black; 
    }

    &__continent--select {
        margin: 0 20px 0 10px; 
        color: rgb(109, 106, 109); 
        border: 1px solid rgb(133, 130, 133); 
        border-radius: 4px;
        padding: 5px 0 5px 0; 
        border-radius: 8px;
        border: 1px solid black; 
    }
}