.header {
    // display: flex; 
    // flex-direction: column;
    text-align: center;
    padding: 40px 20px 50px 20px;
    background-color: rgb(194, 220, 204);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(51, 52, 52); 

    &__title {
        margin-bottom: 10px; 
    }

    &__subtitle {
        color: rgb(80, 81, 81); 
    }
}