.header {
    // display: flex; 
    // flex-direction: column;
    text-align: center;
    padding: 30px 20px 40px 20px;
    background-color: rgb(194, 220, 204);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(51, 52, 52); 
}